---
import Layout from '@/layouts/Layout.astro'
import Sponsors from '@/components/Sponsors.astro'
import ShowInfo from '@/components/ShowInfo.astro'
---

<Layout title="LOGIN Centro Mayorista">
	<main class="flex justify-center items-center flex-col gap-10 md:gap-20">
		<!-- <h1 class="text-center font-bold text-xl uppercase"> Log-in centro mayorista </h1> -->
		<ShowInfo />
		<Sponsors />
	</main>
</Layout>
