---
import WhatsappIcon from "@/components/icons/Whatsapp.astro"
---

<div class="fixed bottom-5 left-3 flex justify-center items-center">
  <a 
    href="https://api.whatsapp.com/send/?phone=525511606953&text&type=phone_number&app_absent=0"
    rel="noopener noreferrer"
    target="_blank"
  >
    <WhatsappIcon class="size-12" />
  </a>
</div>
