---
import Typography from "@/components/Typography.astro"
---
<section class="mt-10 md:mt-20 mb-10 md:mb-20 flex flex-col gap-10 justify-center items-center">
  <hr
  class="h-[2px] w-full border-t-0"
  style="background:linear-gradient(to right, transparent 0%, white 50%, transparent 100%)"
  />
  <aside class="flex justify-center items-center flex-col gap-5 text-center text-pretty">
    <Typography as="h3" variant="h2" color="neutral">
      Llámenos al Teléfono <span class="text-red-400/90"> 5511606953 </span>
    </Typography>
    <Typography as="h2" variant="medium" color="neutral">
      Nuestro Whatsapp <span class="text-red-400/90"> 5511606953 </span>
    </Typography>
    <Typography as="p" variant="small" color="neutral">
      Realmente nos importan nuestros usuarios y nuestro producto.
    </Typography>
  </aside>
  <hr
    class="h-[2px] w-full border-t-0"
    style="background:linear-gradient(to right, transparent 0%, white 50%, transparent 100%)"
  />
</section>