<footer class="m-4">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
      <div class="lg:flex lg:items-center lg:justify-between">
          <a 
            href="#top" 
            class="flex items-center mb-4 sm:mb-0 space-x-2 sm:space-x-3 rtl:space-x-reverse"
          >
            <img
              decoding="async"
              loading="lazy"
              src="/img/loginver-logo-small.webp" 
              class="size-12 md:size-16" 
              alt="Logo de LOGIN Centro Mayorista" 
            />
            <span class="self-center text-xl sm:text-2xl font-semibold whitespace-nowrap dark:text-white">
              LOGIN Centro Mayorista
            </span>
          </a>
          <ul class="flex flex-wrap justify-center sm:justify-normal items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
              <li>
                  <a href="/quienes-somos" class="hover:underline me-4 md:me-6"> Acerca </a>
              </li>
              <li>
                  <a href="#" class="hover:underline me-4 md:me-6"> Privacidad </a>
              </li>
              <li>
                  <a href="#" class="hover:underline me-4 md:me-6">Términos y Condiciones</a>
              </li>
          </ul>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <span class="block text-sm text-gray-500 text-center dark:text-gray-400">
        © 2024 
        <a 
          href="#top" 
          class="hover:underline"
          aria-label="Ir al inicio"
          > 
          LOGIN Centro Mayorista México 
        </a> 
        Derechos reservados. <br />
        <span class="text-center"> 
          Credits: Geovany Rincón 
        </span> 
      </span>
  </div>
</footer>

