---
import CartShop from '@/components/icons/CartShop.astro'

interface Link {
  href: string
  text: string
  label?: string
}

const links: Link[] = [
  { href: '/', text: 'Inicio', label: 'Ir a la página de Inincio' },
  { href: '/registro', text: 'Registro', label: 'Ir a la página de Registro' },
  { href: '/contacto', text: 'Contacto', label: 'Ir a la página de Contacto' },
  { href: '/quienes-somos', text: 'Nosotros', label: 'Ir a sobre nosotros' },
]
---

<header class="hidden md:flex justify-between items-center">
  <picture>
    <img
      decoding="async" 
      src="/img/loginver-logo-small.webp" 
      alt="Logo de LOGIN Centro Mayorista"
      class="size-[100px]"
    />
  </picture>

  <nav>
    <ul class="flex gap-3 px-5">
      <button>
        <CartShop class="size-6 hover:text-yellow-400/90 transition" />
      </button>
      {
        links.map(({ href, label, text }) => (
          <li>
            <a 
              href={href} 
              class="text-white hover:text-orange-400/90 transition"
              aria-label={label}
            >
              {text}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<header class="flex justify-between items-center md:hidden" id="header-mobile">
  <picture>
    <img
      decoding="async" 
      src="/img/loginver-logo-small.webp" 
      alt="Logo de LOGIN Centro Mayorista"
      class="size-[100px]"
    />
  </picture>

  <div class="flex justify-center items-center gap-3 px-5">
    <button>
      <CartShop class="text-red-200/90 size-6 hover:text-yellow-400/90 transition" />
    </button>
    
    <button class="hamburguer-button" aria-label="Menú hamburguesa">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </button>
  </div>
</header>

<style>
  header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
  }

  .scroll-header {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, transparent);
    backdrop-filter: blur(10px);
  }

  .hamburguer-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 0;
    background: transparent;
    gap: .30rem;
  }

  .hamburguer-button.active div:first-child {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .hamburguer-button.active div:nth-child(2) {
    opacity: 0;
  }

  .hamburguer-button.active div:nth-child(3) {
    opacity: 0;
  }

  .hamburguer-button.active div:nth-child(4) {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .hamburguer-button > div {
    background: #FFF;
    height: 2px;
    width: 100%;
    transition: all .5s;
    transform-origin: left;
  }
</style>

<script>
  import { $ } from '@/lib/dom-selector'

  const $header = $('header') as HTMLElement
  const $headerMobile = $('#header-mobile') as HTMLElement
 
  window.addEventListener('scroll', () => {
    if (window.scrollY > 100) {
      $header.classList.add('scroll-header')
      $headerMobile.classList.add('scroll-header')
    } else {
      $header.classList.remove('scroll-header')
      $headerMobile.classList.remove('scroll-header')
    }
  })
</script>