<article class="flex flex-col md:flex-row md:gap-10 h-auto justify-center items-center">
  <img 
    decoding="async"
    src="/img/loginver-logo-small.webp" 
    class="size-[300px] relative pointer-events-none opacity-30 md:opacity-100 rounded-lg" 
    alt="Imagen del Grupo M"
  />

  <div class="flex absolute md:relative flex-col gap-y-4 text-center max-w-[350px]">
      <h2 class="font-Dancing text-2xl lg:text-3xl text-orange-400/90 font-bold">
          LOGIN Centro Mayorista
      </h2>

      <p class="text-pretty text-xl">
        LOGIN Centro Mayorista es el <span class="text-green-400/90 font-bold"> único proveedor</span> en México <span class="text-purple-400/90"> del mayor </span> <span class="text-yellow-400/90"> MarketPlace </span> de latinoamérica en <span class="text-blue-400/90"> Ecommerce </span>
      </p>
  </div>
</article>